body {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 450px;
    height: 550px;
    padding: 50px;
    background-color: rgb(175, 175, 175);
    border: 2px solid black;
    border-radius: 40px;
}

.calculator > .screen {
    flex: 1 1 1;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 64px;
    padding-right: 10px;
    padding-left: 10px;
}

.calculator > .buttons {
    font-size: 20px;
    margin-top: 20px;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

.calculator > .buttons * {
    font-size: 28px;
}

.calculator > .buttons > button {
    border: 1px solid black;
    border-radius: 5px;
}

.calculator > .buttons > .full-row {
    grid-column: span 4;
    margin-bottom: 10px;
}

.calculator > .buttons > .big-horizontal {
    grid-column: span 2;
}

.calculator > .buttons > .big-vertical {
    grid-row: span 2;
}

.calculator > .buttons > button.operator {
    background-color: orange;
}